@media (max-width: 980px) {
  .main-container {
    flex-direction: column;
    text-align: center;
  }

  .img-intro {
    margin: 4rem 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-container-services {
    text-align: center;
  }

  .info-contact-container {
    text-align: center;
  }

  .button-container-service {
    text-align: center;
  }

  .main-contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 830px) {
  .carousel-container {
    display: none;
  }

  .img-container {
    display: none;
  }
}

@media (max-width: 550px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 7rem;
    right: 0;
    height: 0;
    background: var(--white-color);
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  #nav.active #menu {
    display: block;
    height: calc(100vh - 7rem);
    visibility: visible;
    overflow-y: auto;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1.9rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburger {
    color: var(--color-text);
    display: block;
    margin-top: 0.6rem;
    margin-left: 0.9rem;
    border-top: 2px solid;
    width: 20px;
    gap: 0.5rem;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .main-container {
    align-items: center;
    justify-content: center;
  }

  .info-container {
    text-align: center;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-container button:nth-child(1) {
    margin-right: 0;
  }

  .info-container-services {
    text-align: center;
  }
  .container-card {
    flex-direction: column;
  }

  .card {
    width: 40rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
  }

  .card > img {
    align-self: center;
    margin-bottom: 1rem;
  }

  .button-container-service {
    text-align: center;
  }

  .info-contact-container {
    text-align: center;
  }
}
