@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --button-color: #6477b6;
  --white-color: #ffffff;
  --color-text: #1a2028;
  --background-card: #f2f5ff;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03);
  padding: 1rem 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.nav-container > ul {
  display: flex;
  gap: 8rem;
}

.nav-container > ul > li > a {
  padding: 1rem 1rem;
  margin-left: 1rem;
  color: var(--color-text);
  font-size: 2rem;
}

.main-container {
  display: flex;
  margin-top: 10rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-container > h1 {
  font-size: 5.5rem;
  margin-top: 5rem;
  color: var(--color-text);
}

.info-container > p {
  font-size: 2rem;
  margin-top: 3rem;
  color: var(--color-text);
}

.button-container {
  margin-top: 4rem;
}

.button-container > button:nth-child(1) {
  cursor: pointer;
  padding: 2rem 3.5rem;
  width: 22rem;
  font-size: 2rem;
  border: none;
  background: var(--button-color);
  color: var(--white-color);
  border-radius: 0.3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.button-container > button:nth-child(2) {
  cursor: pointer;
  padding: 2rem 3.5rem;
  width: 22rem;
  font-size: 2rem;
  border: none;
  background: var(--white-color);
  color: var(--color-text);
  border-radius: 0.3rem;
  border: 0.1rem solid var(--color-text);
}

.carousel-container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
}

.services {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.info-container-services > h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--color-text);
  opacity: 0.46;
}

.info-container-services > h1 {
  font-size: 5.5rem;
  color: var(--color-text);
}

.info-container-services > p {
  font-size: 2rem;
  color: var(--color-text);
  margin-top: 5rem;
}

.container-card {
  margin-top: 5rem;
  align-items: center;
  justify-content: start;
  display: flex;
  gap: 1rem;
}

.card {
  padding: 0 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 2rem;
  width: 23rem;
  height: 21rem;
  background: var(--background-card);
  border-radius: 0.3rem;
  cursor: pointer;
}

.card > p {
  font-size: 1.7rem;
}

.button-container-service {
  margin-top: 7rem;
}

.button-container-service > button {
  max-width: 30rem;
  padding: 2rem 3.5rem;
  font-size: 2rem;
  color: var(--white-color);
  border-radius: 0.3rem;
  background: var(--button-color);
  border: none;
  cursor: pointer;
}

.main-contact {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 10rem;
  gap: 5rem;
  justify-content: center;
}

.info-contact-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-contact-container > h3 {
  margin-top: 6rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--color-text);
  opacity: 0.46;
}

.info-contact-container h1 {
  font-size: 5.5rem;
  color: var(--color-text);
}

.info-contact-container > p {
  font-size: 2rem;
  color: var(--color-text);
  margin-top: 5rem;
}

.info-contact-container > a {
  font-size: 2rem;
  color: var(--button-color);
  margin-top: 4rem;
}
