@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600&display=swap");

:root {
  --white-color: #ffffff;
  --color-black: #1a2028;
  --main-background: #e5e5e5;
  --purple1: #6477b6;
  --border: #1a2028;
  --box-background: #f2f5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-background);
}

header {
  background: var(--white-color);
}

.border {
  border: 1px solid red;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 6.5rem;
}

header {
  width: 100%;
  padding: 3.5rem 3.5rem;
  position: fixed;
  background: var(--white-color);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03);
}

.container {
  max-width: 160rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.container nav ul {
  display: flex;
  gap: 8rem;
}

.container a {
  color: var(--color-black);
}

.main-about {
  max-width: 160rem;
  margin: 0 auto;
}

section {
  min-height: 100vh;
  padding-top: 3rem;
}

.container-items {
  margin-top: 14rem;
  display: flex;
  justify-content: space-between;
}

.container-about h1 {
  max-width: 67rem;
  line-height: 7rem;
  margin-bottom: 3.6rem;
  margin-top: 9rem;
}

.container-about p {
  font-size: 2rem;
  max-width: 54.2rem;
  line-height: 2.6rem;
  margin-bottom: 5rem;
}

.button button:nth-child(1) {
  padding: 1.5rem;
  width: 14rem;
  color: var(--white-color);
  background: var(--purple1);
  border: none;
  box-shadow: 0px 4px 20px rgba(100, 119, 182, 0.3);
  border-radius: 0.3rem;
}

.button button:nth-child(2) {
  padding: 1.5rem;
  width: 14rem;
  color: var(--color-black);
  border: 0.1rem solid var(--border);
  margin-left: 2.6rem;
}

.patrocinates {
  max-width: 160rem;
  margin: 0 auto;
}

.patrocinates .patrocinates-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20rem;
}

.main-services {
  max-width: 160rem;
  margin: 0 auto;
}

.container-items-services {
  margin-top: 14rem;
  display: flex;
  gap: 10rem;
}

.container-services p {
  font-size: 2rem;
  color: var(--color-black);
  opacity: 0.46;
}

.main-services .container-items-services .container-services .color-text-black {
  color: var(--color-black);
  opacity: 1;
  text-align: justify;
  max-width: 100rem;
  margin-bottom: 3rem;
}

.container-services h1 {
  margin-bottom: 4rem;
}

.main-services
  .container-items-services
  .container-services
  .button-orcament
  button {
  padding: 1.5rem;
  width: 30rem;
  height: 6rem;
  color: var(--white-color);
  background: var(--purple1);
  border: none;
  box-shadow: 0px 4px 20px rgba(100, 119, 182, 0.3);
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 2rem;
}

.main-services .box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 5rem;
}

.main-services .box-container .box {
  background: var(--box-background);
  width: 23rem;
  height: 23rem;
  border-radius: 0.5rem;
}

.main-services .box-container .box .box-content {
  padding-top: 3rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
}
